# Object file
*.o

# Ada Library Information
*.ali
obj/
lib/
alire/
config/

# Ada runtime library
rts/adalib
rts/ada_source_path
rts/obj


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk
Cargo.lock

# ESP IDF
/esp-idf
/build
